* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/parquet.jpg");
  background-size: cover;
}

.container {
  width: 80vw;
  margin: auto;
}

header {
  background-image: url("img/paese.jpg");
  height: 60vh;
  position: relative;
  border: 10px solid white;
}

.testo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header > .bck {
  position: absolute;
  background-color: rgba(30, 30, 30, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  background-color: brown;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.nav-size::after {
  clear:both;
  display: table;
  content: "";
}

.box {
  float: left;
  width: 25%;
  text-align: center;
}

.nav-size {
  margin: auto;
  width: 50vw;
}

main::after {
  clear:both;
  display: table;
  content: "";
}

main > * {
  float: left;
}

main {
  margin: 5px 0;
}

.left, .right {
  background-color: white;
  height: 50vh;
  width: 20%;
}

.center {
  background-color: white;
  height: 50vh;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  background-color: brown;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
